{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="sidebar col-md-2">
            <!-- <button id="sidebar-toggle" class="sidebar-toggle">Hide</button> -->
            <ul id="article-list" class="list-group">
                <!-- Articles will be populated here -->
            </ul>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <h3 id="original-title" class="">
                    </h3>
                    <div id="original-html" class="">
                        <!-- Original HTML content will be displayed here -->
                    </div>
                </div>
                <div class="col-md-6">
                    <textarea id="translation-editor"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
